



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    width: calc(50% - 20px); /* Two cards in one line */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 15px;
  }
  
  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#d49e59;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #5f4421;
  }
  